.aggregation{
  flex-direction: row;
  display:flex;
  background-color: #ffffff;
  border: 0px solid #e6e6e6;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.aggregation .validationError{
  border: 1.5px solid red;
}
.aggregation .column {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  padding-left:20px;
}

