.select {
  display: flex;
  flex-direction:column;
  margin-bottom: 20px;
  overflow-y: auto;
}
.select .content{
  height: 250px;
  width: 100%;
  margin-left: 15px;
}
.select-title {
  flex-direction: row;
  display:flex;
  margin-bottom: 10px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left: 15px;
}
.select-title .column {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  color: #AAAAAA;
  font-size: 12px;
  width: 10%;
  float: left;
}